{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Cadastro de Ocorrências</h1>
</div>

<!-- Formulário para cadastrar ocorrências -->
<form method="POST" action="{{ url_for('ocorrencias') }}">
    {{ wtf.form(form) }}
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>

<hr>

<h2>Relação de ocorrências cadastradas</h2>
<p>Quantidade: {{ ocorrencias|length }}</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Data</th>
            <th>Disciplina</th>
            <th>Descrição</th>
        </tr>
    </thead>
    <tbody>
        {% for ocorrencia in ocorrencias %}
        <tr>
            <td>{{ ocorrencia.data_ocorrencia.strftime('%d/%m/%Y %H:%M') }}</td>
            <td>{{ ocorrencia.disciplina }}</td>
            <td>{{ ocorrencia.descricao }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}